* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #e0f2e9;
  height: 100vh;
}

.registro {
  background-color: #ceb5a7;
  margin: 10% 10% auto 10%;
  display: block;
  border: solid 1px black;
  padding: 10px 50px 10px 50px;
}

.registro h1 {
  text-align: center;
}


.form {
  margin-top: 15px;
  border: solid 1px;
  padding: 10px 20px 10px 10px;
  box-shadow: 2px 2px 3px black;
}

label.form__label {
  display: block;
  font-weight: 600;
  font-family: sans-serif;
  margin-top: 5px;
}

input.form__input {
  display: block;
  width: 100%;
  border-radius: 5px;
  margin: 4px 0px;
}

.btn {
  background-color: #a17c6b;
  color: #fff;
}

.btn:focus {
  outline: none;
}

.btn:hover {
  cursor: pointer;
}

.form__input:focus {
  outline: none;
}
.form__input{
  border-color: black;
  border-left-width: 5px;
}
.form__control--exito .form__input{
  border-style: solid;
  border-left-color: #008000;
  border-left-width: 7px;
  
  

}
.form__control--error .form__input{
  border-style: solid;
  border-left-color: #ff0000;
  border-left-width: 7px;
  
}