* {
  margin: 0;

  box-sizing: border-box;
}

body {
  background-color: #e0f2e9;

  height: 100vh;
}

.registro {
  background-color: #ceb5a7;
  
  display: block;

  margin: 10% 10% auto 10%;
  border-radius: 5px;
  border: solid 1px black;
  padding: 20px 8% 20px 8%;
  
}

.registro h1 {
  text-align: center;
  font-family: sans-serif;
  font-weight: 900;
}


.form {
  margin-top: 15px;
  border: solid 1px;
  border-radius: 5px;
  padding: 10px 40px 10px 20px;
  box-shadow: 4px 4px 3px black;
}

label.form__label {
  display: block;

  font-weight: 600;
  font-family: sans-serif;

  margin-top: 5px;
}

input.form__input {
  display: block;
  width: 100%;

  border-radius: 5px;
  margin: 4px 0px;
}

.btn {
  background-color: #a17c6b;
  color: #fff;

  display: inline-block;

  text-align: center;
  font-size: 10px;

  border-radius: 5px;
  border: 0px;
  padding: 5px 15%;
  
}

.form__btns {
  margin: 0% 10%;
}

.btn:focus {
  outline: none;
}

.btn:hover {
  cursor: pointer;
}

.form__input:focus {
  outline: none;
}
.form__input{
  border-color: black;
  border-left-width: 5px;
}
.form__control--exito .form__input{
  border-style: solid;
  border-color: #008000;
  border-left-width: 7px;
  
  

}
.form__control--error .form__input{
  border-style: solid;
  border-color: #ff0000;
  border-left-width: 7px;
  
}
.form__error-msg{
color: red;
font-weight: bolder;

padding-bottom: 5px;
display: block;
    
}