* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #e0f2e9;
  height: 100vh;
}

.registro {
  background-color: #ceb5a7;
  margin: 10% 10% auto 10%;
  display: block;
  height: 200px;
  border: solid 1px black;
  padding: 10px 50px 10px 50px;
}

.registro h1 {
  text-align: center;
}

.btn {
  background-color: #a17c6b;
  color: #fff;
}

.btn:focus {
  outline: none;
}

.btn:hover {
  cursor: pointer;
}

.form__input:focus {
  outline: none;
}
