/**********************************************************************/
/*  PROYECTO RESERVAS             */
/*  EQUIPO <<PLATA>>   */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* Declaración para depurar la composición */
  /* outline: 1px solid red; */
}

body {
  background-color: lightgoldenrodyellow;

  /* Su contenido debe estar completamente 
     centrado en la pantalla */
  /*display:grid;
  /*grid-template-columns: 5% auto 5%;
  grid-template-rows: 10% 800px auto;*//*
  grid-template-rows:100px  100px 200px 200px 600px 100px 100px   100px;
  grid-template-columns: 100px  400px 300px 400px 100px;
  */
  display:grid;
  grid-template-columns: 10% 80% 10%;
  grid-template-rows: 10% auto 10%;
  justify-content:center;
}

/**********************************************************************/

.lienzo {
  background-color: silver;
  /* Declaración por defecto (es innecesaria)
     Se incluye para indicar que no puede modificada. */
  height: auto;

  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 2;
  display:flex;
  
  gap:0.7rem;
  flex-direction: column;
  /*grid-template-rows:5% 18% 14% 50% 5% 8%;
  grid-template-columns: auto 300px auto;*/
  align-items: center;

}

/**********************************************************************/

.titulo-proyecto {
  /* Esta regla debe dejarse tal cual */
  margin-top: 0.7rem;
  padding: 5px 13px;
  background-color: whitesmoke;
  
}

.equipo {
  /* Esta regla debe dejarse tal cual */
  text-transform: uppercase;
}

/**********************************************************************/

.espectaculos {
  background-color: gray;
  color: white;

  display:grid;
  grid-template-columns: repeat(3,1fr);
  padding:0.3rem;
  gap:5px;

  border-radius:7px;
  
}

.espectaculos__label {
  color: whitesmoke;
}

/**********************************************************************/

.leyendas {
  background-color: darkgray;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  
  gap:0.7rem;
  /*margin-left:50px;
  margin-right:50px;*/
  padding:0.3rem;
  
  /*grid-template-columns: repeat(3,1fr);
  grid-auto-flow: row;
  justify-items: center;*/
}

.leyenda {
  color: black;
  display: flex;
  flex-direction:column;
  align-items: center;
  

}

/**********************************************************************/

.sala {
  background-color: grey;
  display: grid;
  
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  padding-left: 2.1rem;
  padding-right: 2.1rem;
  
/*
  margin-left:500px;
  margin-right:500px;
*/

  border-radius:7px;
  justify-content: center;
}

.sala__pantalla {
  background-color: ivory;
  height: 70px;
  /* Declaración por defecto (es innecesaria)
     Se incluye para indicar que no puede modificada. */
  width: auto;
  -moz-box-shadow: 2px 0px 20px ivory;
  -webkit-box-shadow: 2px 0px 20px ivory;
  box-shadow: 2px 0px 20px ivory;
  
}

.sala__aforo {
  /* Separación entre asientos */
  margin-top:2.8rem;
  gap: 25px;
  display: grid;
  grid-template-columns: repeat(5,25px);
  grid-auto-flow: row;

}

/**********************************************************************/

.asiento {
  display: grid;
  width: 25px;
  height: 25px;
  background-color: whitesmoke;
  border: 2px solid black;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

.asiento--ocupado {
  background-color: lightcoral;
}

.asiento--seleccionado {
  background-color: lightskyblue;
}

/* No es factible reservar un asiento ocupado. 
   Para reforzar esta restricción se modifica 
   el estilo al sobrevolar con el cursor sobre 
   un asiento no ocupado (i.e. libre o selecciodo) 
*/
.sala .asiento:hover:not(.asiento--ocupado) {
  cursor: pointer;
  background-color: blueviolet;
}

/**********************************************************************/

.informacion {
  color: brown;
  display: flex;
  grid-auto-flow: column;
  justify-content:center;
  gap:0.8rem;

  
}

.contador {
  color: darkblue;
  background-color: white;
  /* Anchura para admitir números de dos cifras*/
  width: 35px;
  margin-right: 0.7rem;
  border: 2px solid black;
  padding: 2px;
  
}

.precio {
  color: darkblue;
  background-color: white;
  /* Anchura para admitir números de tres cifras*/
  width: 47px;
  border: 2px solid black;
  padding: 2px;
}

.btns {
  margin-top:0.7rem;
  margin-bottom: 0.7rem;
  display:grid;
  justify-content:center;
  grid-auto-flow:column;
  gap:0.2rem;/*  hueco entre los botones*/
  
}

.btn {
  padding: 5px 10px;
  width: 100px;
  height:35px;
  

}
