/**********************************************************************/
/*  PROYECTO RESERVAS             */
/*  EQUIPO <<PLATA>>   */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* Declaración para depurar la composición */
  /* outline: 1px solid red; */
}

body {
  background-color: lightgoldenrodyellow;

  /* Su contenido debe estar completamente 
     centrado en la pantalla */
  /*display:grid;
  /*grid-template-columns: 5% auto 5%;
  grid-template-rows: 10% 800px auto;*//*
  grid-template-rows:100px  100px 200px 200px 600px 100px 100px   100px;
  grid-template-columns: 100px  400px 300px 400px 100px;
  */
  display:flex;
  justify-content: center;
}

/**********************************************************************/

.lienzo {
  background-color: silver;
  /* Declaración por defecto (es innecesaria)
     Se incluye para indicar que no puede modificada. */
  height: auto;


}

/**********************************************************************/

.titulo-proyecto {
  /* Esta regla debe dejarse tal cual */
  margin-top: 0.7rem;
  padding: 5px 13px;
  background-color: whitesmoke;
  
}

.equipo {
  /* Esta regla debe dejarse tal cual */
  text-transform: uppercase;
}

/**********************************************************************/

.espectaculos {
  background-color: gray;
  color: white;

  display:grid;
  grid-template-columns: repeat(3,1fr);
  
  
}

.espectaculos__label {
  color: whitesmoke;
}

/**********************************************************************/

.leyendas {
  background-color: darkgray;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  
  /*grid-template-columns: repeat(3,1fr);
  grid-auto-flow: row;
  justify-items: center;*/
}

.leyenda {
  color: black;
  display: flex;
  flex-direction:column;
  align-items: center;
  


}

/**********************************************************************/

.sala {
  background-color: grey;
  display: grid;
  grid-row-start: 4;
  grid-row-end: 4;
  grid-column-start: 2;
  grid-column-end: 2;
  padding-top: 10%;
  padding-bottom: 10%;
  padding-left: 15%;
  padding-right: 15%;
}

.sala__pantalla {
  background-color: ivory;
  height: 70px;
  /* Declaración por defecto (es innecesaria)
     Se incluye para indicar que no puede modificada. */
  /*width: auto;
}

.sala__aforo {
  /* Separación entre asientos */
  gap: 25px;
  display: grid;
  grid-template-columns: repeat(5,1fr);
  grid-auto-flow: row;

}

/**********************************************************************/

.asiento {
  width: 25px;
  height: 25px;
  background-color: whitesmoke;
}

.asiento--ocupado {
  background-color: lightcoral;
}

.asiento--seleccionado {
  background-color: lightskyblue;
}

/* No es factible reservar un asiento ocupado. 
   Para reforzar esta restricción se modifica 
   el estilo al sobrevolar con el cursor sobre 
   un asiento no ocupado (i.e. libre o selecciodo) 
*/
.sala .asiento:hover:not(.asiento--ocupado) {
  cursor: pointer;
  background-color: blueviolet;
}

/**********************************************************************/

.informacion {
  color: brown;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-auto-flow: row;
  grid-row-start: 5;
  grid-row-end: 5;
  grid-column-start: 2;
  grid-column-end: 2;
  
}

.contador {
  color: darkblue;
  background-color: white;
  /* Anchura para admitir números de dos cifras*/
  width: 35px;
}

.precio {
  color: darkblue;
  background-color: white;
  /* Anchura para admitir números de tres cifras*/
  width: 47px;
}

.btns {
  margin-bottom: 13px;
  display:grid;
  grid-row-start: 6;
  grid-row-end: 6;
  grid-column-start: 2;
  grid-column-end: 2;
  grid-auto-flow:column;
  gap:10px;/*  hueco entre los botones*/
}

.btn {
  padding: 5px 10px;
  

}
