.contenedor {
  background-color: chartreuse;
  display: block;
  padding: 10px;
  border: solid 2px cadetblue;
  border-radius: 10px;
}

.lorem--1 {
  border: 3px solid coral;
  margin: 30px 20% 20px 20%;
  padding-top: 40px;
  text-align: right;
}

.texto {
  background-color: rgb(251, 241, 241);
  border-top: solid blue;
  border-right: dashed blue;
  padding: 20px 0px;
  text-align: center;
}

.resalte {
  background-color: yellow;
  border: solid 2px blue;
  padding: 5px;
  box-shadow: 5px 5px 5px blue;
  margin-right: 10px;
}

.lorem--2 {
  background-color: coral;
  display: block;
  margin: 30px;
  box-shadow: 10px 10px 2px red, -15px -15px 5px blue;
}
