/**********************************************************************/
/*  PROYECTO SONETOS              */
/*  EQUIPO XXXXXX                  */

/**********************************************************************/
/*  COMENTARIO SOBRE EL DISEÑO

Empleamos tonos cercanos al oliva, claros para que no destaque demasiado.
La fuente es manuscrita, para transmitir la sensación de que se está conectando
con el autor, ya que el texto manuscrito resulta menos artificial que una fuente clasica.
/**********************************************************************/

/*  Estilos particulares para el soneto 05 */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
:root {
  --color-lienzo-05: rgb(201, 197, 149);
  --color-soneto-05: rgb(231, 231, 231);
  --color-texto-05: #000;

  --color-titulo-05: rgb(153, 146, 42);
}

/**********************************************************************/
.lienzo-05 {
  background-color: var(--color-lienzo-05);

  display: flex;
  align-items: center;
  justify-content: center;
}

/**********************************************************************/

.soneto-05 {
  background-color: var(--color-soneto-05);
  color: var(--color-texto-05);
  box-shadow: 15px 15px 15px black;
  border-radius: 20px;
  padding:1em 6em;
}

.soneto-05 .titulo {
  color: currentColor;
  font-size: 3em;
  
  text-align: center;
  font-family: 'Dancing Script', cursive;
  font-weight:  700;
  color: var(--color-titulo-05);
}

.soneto-05 .autor {
  color: currentColor;
  text-align: center;

  font-size: 2em;
  margin-top: 0.7em;
  font-style: italic;
}

.soneto-05 .versos {
  color: currentColor;
  font-size: 1.9em;
}

.soneto-05 .verso {
  color: currentColor;
}

.soneto-05 .v-01,
.soneto-05 .v-02,
.soneto-05 .v-03,
.soneto-05 .v-04,
.soneto-05 .v-05,
.soneto-05 .v-06,
.soneto-05 .v-07,
.soneto-05 .v-08,
.soneto-05 .v-09,
.soneto-05 .v-10,
.soneto-05 .v-11,
.soneto-05 .v-12,
.soneto-05 .v-13,
.soneto-05 .v-14 {
  color: currentColor;
  font-family: Sacramento;
}

.soneto-05 .v-01,
.soneto-05 .v-05,
.soneto-05 .v-09,
.soneto-05 .v-12{
  padding-top: 1em;
}